/* menu style */
.menu {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    background-color: white;
    color: black;
    border: none;
    position: absolute;
}

/* menu content style */
.menuContent{
    position: absolute;
    padding: 5px;
    border-radius: 2px;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

/* locations of menus without dropdown */
.moodboard{
    top: 50px;
    left: 615px;
}
.location{
    top: 50px;
    left: 875px;
}

/* MAIN dropdown menu */
.main{
    top: 27px;
    left: 210px;
}
.mainMenu{
    position: relative;
    display: inline-block;
}
.main-content{
    display: none;
    top: 68px;
    left: 215px;
}
.main-content a {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: black;
    display: block;
}
.main-content a:hover {background-color:#d1b15a;}
.mainMenu:hover .main-content {display:block;}

/* DIRECTOR dropdown menu*/
.director1{
    top: 27px;
    left: 355px;
}
.directorMenu{
    position: relative;
    display: inline-block;
}
.director-content{
    display: none;
    top: 68px;
    left: 359px;
}
.director-content a {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: black;
    display: block;
}
.director-content a:hover {background-color:#d1b15a;}
.directorMenu:hover .director-content {display:block;}

/* SOUND dropdown menu */
.sound{
    top: 27px;
    left: 1110px;
}

.soundMenu{
    position: relative;
    display: inline-block;
}
.sound-content{
    display: none;
    top: 68px;
    left: 1116px;
}
.sound-content a {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: black;
    display: block;
}
.sound-content a:hover {background-color: #d1b15a;}
.soundMenu:hover .sound-content {display:block;}

.show{display:block;}

/* page contents */
.moodboardPhoto{
    position: absolute;
    width: 1300px;
    top: 89px;
    left: 75px;
}